@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRent</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="bg-layout font" style="padding: 0;">

    <partial name="_CookieConsentPartial" />

    <div class="background-container">
        <div class="upper-bar">
            
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                        <ul>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @UserManager.GetUserName(User)!</a></li>
                            <li><button type="submit" class="btn btn-link" style="color: white; font-size: 20px; font-weight: bold; padding-top: 13px;">Wyloguj</button></li>
                        </ul>
                    </form>
                }
                else
                {
                <ul>
                    <li><a href="#login" id="login-button">Zaloguj</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/Register">Rejestracja</a></li>
                </ul>
                }
                
        </div>
        <div class="positioning">
            <img class="background-logo" src="~/images/logo1.png" />
        </div>
        <img class="background-photo" src="~/images/garage-hanging.jpg" />

    </div>
    <div class="line" id="login">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index" class="active">Strona główna</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Offer">Oferta</a></li>
            <li><a asp-area="" asp-controller="Services" asp-action="Index">Cennik</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li><a asp-area="" asp-controller="Manage" asp-action="Index">Zarządzaj</a></li>
            }
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">O nas</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a></li>
        </ul>
    </div>

    <div class="text-content">
        @RenderBody()
    </div>
    
    <footer class="footer"></footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>


